DOMAIN_NAME=mohabid.42.fr
DATA_PATH=/home/mohabid/data

MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

# The administrator name must not contain "admin" or "administrator".
WP_TITLE=Mohabid Inception
WP_ADMIN_USER=siteowner
WP_ADMIN_EMAIL=owner@example.com
WP_USER=author
WP_USER_EMAIL=author@example.com
